[2018-05-21 00:21] zenparsing opened #1 "Return override?"
What should happen when a value is returned from a static block?

[code]

If we want static blocks to be consistent with `constructor`, then we might want to allow return-override.

[2018-05-21 00:27] ljharb commented on #1
Static blocks aren’t a function, so being able to use return in them would be surprising to me.

[2018-06-04 10:38] lifaon74 opened #2 "Syntax alternative"
I'm using typescript and i'm always surprised to see that es6 classes doesn't support static assignments (only methods...).

But what about:

[code]

I personally prefer this approach to show in a more clear way that I assign the value to `y`, instead of searching into a `static {....}` block what the previous developer is assigning to the class (potentially more than one property, which will resu

[2018-06-04 13:16] nicolo-ribaudo commented on #2
With do expressions it would be even easier:
[code]

[2018-06-04 15:32] ljharb commented on #2
What you’re describing is *already* possible with stage 3 public static fields.

[2018-06-20 19:35] michaeljota commented on #2
You could even use old fashion getters for this use case.

[code]

[2018-06-20 19:39] michaeljota opened #3 "Why not a static constructor?"
I see the implementations taken for reference, and they all are constructors functions, so why this should not be a constructor?

[code]

[2018-06-20 19:44] ljharb commented on #3
What would it be constructing?

[2018-06-20 19:47] michaeljota opened #4 "What is the meaning of `this` inside the static block?"
`this` is an argument passed to all functions calls in JS. What should the meaning of `this` inside the static block? According to the examples, it's like the meaning is the current static object (`C` class) but I don't know if that is the behavior that `this` should have.

Seconding that odd behavior, C# don't allow `this` inside static expressions. That's because `this` refers to an instance, an

[2018-06-20 19:50] michaeljota commented on #3
It would be constructing the static object. Just like the current static block.

[2018-06-20 20:15] ljharb commented on #3
Constructing is something that happens with `new` - nothing is using new here.

[2018-06-20 20:35] nicolo-ribaudo commented on #4
I think that is should be the class for symmetry with static methods and fields.

[2018-06-21 15:09] michaeljota commented on #3
I understand that `constructor()` is a function called when we want a new instance of a class. Also, as I understand, this proposal would allow to create or add a behavior when the class object is evaluated.

Eventually, changing the syntax to `static constructor()` would be about consistency to other static constructors.

[2018-06-21 17:58] rbuckton commented on #3
`static constructor() {}` already creates a static method named `constructor` on a class.

[2018-06-21 18:07] michaeljota commented on #3
![js](https://i.imgflip.com/2cn9kb.jpg)

[2018-06-21 18:07] #3 closed, assigned to nobody

[2018-07-09 14:50] hax commented on #4
For the consistence, yes. But I have to say `this` in the static methods also very weird from the view of traditional OO languages (java, c#, etc.)

I have seen a proposal (but can't find the repo now) of `static.x` which can be used instead of `this.constructor.x` in the instance methods, which seems also can be used instead of `this.x` in the static methods and static block?

[2018-07-10 23:36] rbuckton commented on #2
Sometimes I need to provide static initialization of the class _without_ defining members, such as setting up WeakMaps, adding the class to a registry. Sometimes I need to share data between _multiple_ members of a class:

[code]

[2018-09-12 06:35] littledan opened #5 "Interaction with private name declarations"
Several TC39 delegates have been talking offline about adding private name declarations, e.g., of the form `private #x;` to declare a private name `#x` outside of a class. These declarations would fill a sort of overlapping use case to static blocks, of allowing private fields or methods to be accessed by a block of imperative code that's run during/after class initialization.

Before this proposa

[2018-10-22 20:45] rdking opened #6 "How does this play well with class-fields?"
Use this example as a base:
[code]
Regardless of what the notation is for accessing `#x` & `#y` in the static block, how does this work? These fields don't even come close to existing until the constructor, after `super()`.

[2018-10-22 21:11] ljharb commented on #6
`this` there is the constructor, and those private fields are on the instance, so I'd expect that to throw.

[2018-10-23 03:48] rdking commented on #6
As would I. Unless I'm mistaken, the point of this static block is to be able to initialize complex things in preparation for the creation of instances based on that result while still having access to private fields. Problem is, I can't for the life of me figure out how this static block will ever have access to any such private fields when
1. private fields are created in the constructor, and
2.

[2018-10-23 03:54] ljharb commented on #6
I don’t see any of that in the readme; it’s got nothing to do with instances and everything to do with the constructor itself.

[2018-10-23 04:26] rdking commented on #6
From the readme:

[2018-10-23 04:33] ljharb commented on #6
There’s no instance in the block though - so it’d be dynamically setting up static methods that can access instance private state, for example.

[2018-10-23 04:59] rdking commented on #6
That's the question though. How can static methods access something that doesn't exist? If instance-private state doesn't exist until after a constructor run, then how is it that code ran before the constructor can access something that won't be created until the future? Seems a fairly severe logical hiccup. Care to sort me out?

[2018-10-23 06:35] nicolo-ribaudo commented on #6
You can define something like this:

[code]

[2018-10-23 06:43] ljharb commented on #6
@rdking

[code]

[2018-10-23 06:44] hax commented on #6
I'm not sure whether related proposals allow same name...
[code]

[2018-10-23 06:45] hax commented on #6
@ljharb Hey, the syntax is `a.#id` 😛 but you wrote `a#id`

[2018-10-23 06:53] ljharb commented on #6
@hax lol thanks, fixed. it's late here.

[2018-10-23 14:09] rdking commented on #6
I think I get it now, but something about this feels horribly wrong. Since I can't put my finger on it at the moment, it's probably better if I leave it alone.

[2018-10-23 14:14] rdking commented on #6
I'll ask this one more question: Why do like @nicolo-ribaudo's (and the readme's) example when you can do this and avoid the block altogether?

[code]

Using the other way has the awkward effect of giving a non-class-member access to private.

[2018-10-23 14:49] ljharb commented on #6
In the case it’s the intentional effect, and i don’t see why it’s awkward. In your example one could also extract `A.getPrivateFoo` and then `delete A.getPrivateFoo`, which I’d find to be the awkward path.

[2018-10-23 14:50] rbuckton commented on #6
@rdking: scoped information sharing:

[code]

In this example, `B` has access to `A`'s private `#foo` through the `getPrivateFoo` function. Since `getPrivateFoo` is scoped to the block, `C` has no access. The same thing applies if `A` and `B` are declared in one module and `C` is declared in another.

If `getPrivateFoo` is static on `A`, `C` could access it just as easily as `B`, which would be un

[2018-10-23 15:03] rbuckton commented on #6
Not only that, when you `delete` a property in V8 it puts the object in dictionary/"slow" mode, which should be avoided for performance reasons.

[2018-10-23 15:45] rdking commented on #6
@ljharb They're both really awkward to me because I have the mindset that only members of the `class` should ever have access to private. That being said...

@rbuckton Not a bad idea. That's basically "internal" scope.

[2018-10-23 15:59] ljharb commented on #6
Anything can have access to private fields if intentionally exposed; it’s important that not be the case by default, and equally important that it be explicitly possible.

[2018-10-23 16:07] #6 closed, assigned to nobody

[2018-12-01 17:27] zhanzhenzhen opened #7 "Does it support async-await?"
Does it support async-await?

[2018-12-02 01:23] rbuckton commented on #7
At the moment, no. The only way I could see that be feasible is if the ability to `await` is determined by the container of the class (i.e. inside of an async function).

[2020-07-10 03:28] rbuckton commented on #4
`this` having a specific meaning in static members is already a well documented part of the language, as well as in the proposal for static fields, and I aim for this proposal to be consistent in that respect. `this` inside of a `static {}` block should point to the constructor value of the class declaration. The reason `this` is useful here is that the binding for the class may not have been init

[2020-07-10 03:33] rbuckton commented on #2
I'm closing this issue as I do not believe it is actionable. The proposed solution is actually one that this proposal is intended to avoid as it is too limiting for complex initialization.

[2020-07-10 03:33] #2 closed, assigned to nobody

[2020-07-10 03:39] rbuckton commented on #1
Currently `static {}` blocks forbid the use of `return`. One of the values of return-override for `constructors` is when a complex object needs to be returned (i.e., creating a native object and attaching `new.target.prototype` to it, such as with DOM elements, or `Array`, or `TypedArray`). While there are some similarities with `constructor`, I believe return-override to be much less useful here

[2020-07-13 21:53] rbuckton commented on #5
I've added a section to the explainer about how this proposal relates to private declarations. While I am not opposed to Private Declarations in general, I feel that they do not sufficiently cover all of the use cases for `static {}`. I could see a future where they could be used in tandem if necessary, but I feel there is a good case for multi-step initialization with access to private state with

[2020-09-09 22:38] JLHwung opened #9 "Should we allow BreakStatement inside static block?"
[code]

If I read correctly, the current spec allows `BreakStatement` in syntax. And since the static block is not a function, [13.9.1](https://tc39.es/ecma262/#sec-break-statement-static-semantics-early-errors) does not throw on static block. However I think it is reasonable to forbid `BreakStatement` like we did for `ReturnStatement`, otherwise the class initialization will be interrupted by the

[2020-09-09 22:56] ljharb commented on #9
Good catch - I think it would be absurd to allow any of `continue`, `break`, or `return` inside a static block.

[2020-09-10 01:59] rbuckton commented on #9
`BreakStatement` wouldn't be forbidden, per se, but it definitely shouldn't be allowed outside of a local switch statement, iteration statement, or labeled statement:
[code]

[2020-09-10 02:04] JLHwung commented on #9
Yeah what I am meant is
[code]

And similar to your example above,
[code]

[2020-09-10 02:07] rbuckton commented on #9
I should have a PR up for that shortly.

[2020-09-10 02:07] rbuckton commented on #9
It is interesting that `Return` is handled as a production parameter, but `Break` and `Continue` aren't.

[2020-09-11 20:32] JLHwung opened #11 "Should we allow Directive Prologues inside static block?"
[code]
Per [14.1.1](https://tc39.es/ecma262/#sec-directive-prologues-and-the-use-strict-directive), a directive prologue must be inside one of FunctionBody, a ScriptBody, or a ModuleBody. So currently `"use strict";` is not considered as a directive prologue.

To be consistent with `constructor` I believe it should be allowed. Although a class body is always strict, a practical use case can be to

[2020-09-11 20:36] ljharb commented on #11
`constructor` is a function - a static block is not, so i'm not sure why they'd need to be consistent.

`use strict` should be a noop in a static block because class bodies are already strict even if it is recognized as a directive, but `sensitive` could certainly take effect - that seems like an issue for that proposal.

[2020-09-11 20:47] #11 closed, assigned to nobody

[2020-09-18 16:19] JLHwung opened #12 "Should we allow SuperProperty directly inside static block?"
[code]
Currently the spec allows `SuperProperty` in static block. However I want to know if it is intentional. If so it will be good to add an example to README.

[2020-09-18 16:25] JLHwung opened #13 "Should we allow SuperCall directly inside static block?"
[code]
Currently the spec allows SuperCall in static block. I think we should forbid SuperCall here, to be aligned with the behaviour of static class property accessor.
[code]

[2020-09-18 19:00] JLHwung opened #14 "Should we throw if static block directly contains Argument?"
[code]
In [Class Fields Proposal](https://tc39.es/proposal-class-fields/#sec-static-semantics-early-errors), it is a syntax error if the initializer contains `arguments`.
[code]
The spec currently does not throw for `arguments`. However, to align with fields initializer, I think it makes sense to disallow `arguments` directly inside static block.

Note that it is still valid if `arguments` is insi

[2020-09-18 19:37] ljharb commented on #14
The reason it's an error in class fields is because of confusion with whether it applies to constructor arguments or the containing function. In this case, it seems like it'd just always mean "the containing function", and there'd be no need to error on it?

[2020-09-18 19:37] ljharb commented on #14
Although if that argument holds, then `arguments` should be permitted in static class fields :-/

[2020-09-18 19:47] JLHwung commented on #14
It makes sense to me. I am good with either allow / disallow `arguments` in both static class fields initializer and static block. I am more concerned on the consistency here.

[2020-09-19 08:24] hax commented on #14
What `arguments` mean if it is allowed in static block or initializer?

[2020-09-19 17:44] ljharb commented on #14
In an initializer, it must throw because it's confusing as to whether it refers to the constructor or the function containing the class.

In a static block, it would either throw (for consistency) or would refer to the function containing the class.

[2020-09-19 20:10] rbuckton commented on #14
I think `arguments` should either be disallowed in `static {}` for consistency with static initializers, or should be an empty array (given how `arguments` is handled in strict code and class bodies are always strict). Since there's no use for `arguments` inside of a `static {}` block, I'm leaning towards it being an error. Also because of how `static {}` scoping works, its somewhat like a functio

[2020-09-19 20:11] #9 closed, assigned to nobody

[2020-09-19 20:11] rbuckton commented on #13
`super()` inside of `static` should definitely be disallowed. I will amend the spec text to clarify this.

[2020-09-19 20:31] rbuckton commented on #12
I think _SuperProperty_ inside of a `static {}` block is fine, especially if you intend to refer to a static method implemented in a base class that has been overridden in the derived class containing a `static {}` block.

[2020-09-19 20:32] ljharb commented on #14
In that case the error is probably the best choice, since I’d find an empty array nonsensical.

[2020-09-25 20:02] justinfagnani opened #16 "Inheriting and overriding initializers"
Some use cases for class initialization involve a base class that provides logic for initializing sub-classes, similar to constructors but on the static side.

This can happen in cases where classes need to process and store class metadata as own properties. The base class static initializer will run once for each class, and read and write own static properties of the class. This allows for config

[2020-09-25 20:21] ljharb commented on #16
This confuses me a bit. Static blocks are like "code that runs after the class body, but defined lexically inside a block in the class body". They're definitely not methods or functions or function-like, and Base's static block would run *long* before anything had a chance to `extends` it - as part of its definition.

[2020-09-25 20:27] justinfagnani commented on #16
What we have a need for is static logic defined in the base class that gets run for _every_ subclass.

Somewhat like:

[code]

[2020-09-25 20:33] ljharb commented on #16
I think adding a hook for _extension_ of JS classes is a major change to the language that deserves its own proposal.

[2020-09-25 20:51] justinfagnani commented on #16
Is it much of a different problem space than static initializers?

One way to model static initializers is exactly as static methods that are invoked after the class body evaluates.

[code]

I believe this keeps the same evaluation as proposed, but it allows for inheritance. I don't see how that's more or less of a major change to the language that static initializers are now.

[2020-09-25 20:56] ljharb commented on #16
Yes - it's code that runs 1-to-N times, versus 1 time; it would make `extends` more expensive because it would suddenly have to potentially run code for *every subclassing in the program*.

It also would probably break super hard with:
[code]

Exposing them as a function would mean you also can't ensure that the logic only ever runs once, since any random code could re-invoke it.

[2020-09-28 20:27] thetiby opened #17 "Examples and counter-examples"
Hi there.
Could we get a few more examples/counter-examples?

For instance, this is the example from readme:
[code]
Here's an example that _appears_ to do just that, but without the `static` block:
[code]
What's the difference?

[2020-09-28 20:28] ljharb commented on #17
For one, assuming `A` and `B` are both eventually exposed, now `A` has a `makeFriend` method on it, unless you explicitly mutate that constructor to remove it.

[2020-09-28 20:44] rbuckton commented on #17
@ljharb is correct, the issue is that anyone can call `A.makeFriend` unless you either:
- Set it to `undefined`/`null`, which leaves the property around on the object
- `delete A.makeFriend`, which is likely to result in poor performance due to V8 heuristics around object property lookup.

[2020-09-28 21:48] thetiby commented on #17
I see - I couldn't find a way without exposing  _something_ on `A`, but now it's useless to any other code that calls it:
[code]

[2020-11-06 06:40] #12 closed, assigned to nobody

[2020-11-06 06:40] #13 closed, assigned to nobody

[2020-11-06 06:40] #14 closed, assigned to nobody

[2020-11-06 06:53] rbuckton opened #20 "Stage 3 Specification Review: Daniel Ehrenberg"
This is a placeholder task for Stage 3 Specification Review feedback from Daniel Ehrenberg (@littledan), per https://github.com/tc39/notes/blob/master/meetings/2020-09/sept-22.md#class-static-initialization-block-for-stage-2

[2020-11-06 06:54] rbuckton opened #21 "Stage 3 Specification Review: Philip Chimento"
This is a placeholder task for Stage 3 Specification Review feedback from Philip Chimento (@ptomato), per https://github.com/tc39/notes/blob/master/meetings/2020-09/sept-22.md#class-static-initialization-block-for-stage-2

[2020-11-06 06:55] rbuckton opened #22 "Stage 3 Editor Specification Review"
This is a placeholder task for Stage 3 Specification Review feedback from an ECMAScript Editor.

[2020-11-06 06:56] rbuckton opened #23 "Meta: Stage 3 Specification Reviews"
This proposal advanced to Stage 2 in September, 2020. The following delegates [agreed](https://github.com/tc39/notes/blob/master/meetings/2020-09/sept-22.md#class-static-initialization-block-for-stage-2) to review the specification text as part of the requirements to advance to Stage 3:

- [x] Stage 3 Specification Review: Daniel Ehrenberg (@littledan) [#20]
- [x] Stage 3 Specification Review: Phi

[2020-11-06 07:04] rbuckton commented on #4
We've discussed this in plenary [in July](https://github.com/tc39/notes/blob/master/meetings/2020-07/july-20.md#class-static-blocks-for-stage-2) and the consensus is that `this` is expected to be the lexical class declaration.

[2020-11-06 07:04] #4 closed, assigned to nobody

[2020-11-06 07:06] rbuckton commented on #5
Closing as I believe this has been addressed both in the explainer and in plenary.

[2020-11-06 07:06] #5 closed, assigned to nobody

[2020-11-06 07:08] rbuckton commented on #7
Currently both `await` and `yield` are disallowed inside of the block. This means that `await` is not permitted even when evaluating the class at the top level of a module where top-level `await` would be allowed. We may chose to revisit this as a follow-on proposal at a later date.

[2020-11-06 07:08] #7 closed, assigned to nobody

[2020-11-06 07:11] rbuckton commented on #16
@justinfagnani: The use case you have described is not one that is supported by this design, nor does it align with the prior art mentioned in the explainer. I concur with @ljharb that such a feature would necessitate a separate proposal.

[2020-11-06 07:11] #16 closed, assigned to nobody

[2020-11-06 07:16] rbuckton commented on #17
Even if there are workarounds for the proposed behavior, the goal of this proposal is to introduce a capability that exists in similar languages without the need for such a workaround. In addition, your workaround allocates memory for a function that is intended to be run only once, but must remain resident in memory for as long as the class declaration itself. Another advantage of `static {}` is

[2020-11-06 07:16] #17 closed, assigned to nobody

[2020-11-06 07:18] rbuckton commented on #1
Closing this issue as the proposal forbids early `return`, which has been discussed in plenary. I will add that if we ever do decide to add early `return`, I would be against supporting `return`-override from within `static {}`.

[2020-11-06 07:18] #1 closed, assigned to nobody

[2020-11-06 07:24] ljharb commented on #22
just a few early thoughts:
 - https://tc39.es/proposal-class-static-block/#table-class-static-block's title is wrong
 - https://tc39.es/proposal-class-static-block/#table-class-static-block's `[[ThisBindingStatus]]` slot should have spec enums, not strings (just like https://tc39.es/ecma262/#table-additional-fields-of-function-environment-records)
 - Why is `IsStatic` false on a class static block

[2020-11-08 22:45] bakkot opened #24 "Why not allow `await`?"
It's surprising to me that this forbids `await`. I'd expect to be able to do anything I could do in the surrounding code, including initialization of the class itself which might require waiting for some asynchronous operation.

Note that you can already `await` in computed property names:

[code]
is legal today.

This can't just be legalized in a followup because it interacts with parsing: if the

[2020-11-08 22:47] bakkot opened #25 "Interaction with `new.target`?"
What should `new.target` in a `static` block be? Does it get inherited from the surrounding context? Is it always `undefined`? An early error? I could see arguments for any of the three.

[2020-11-08 22:51] bakkot opened #26 "Why not allow multiple static blocks?"
In Java a class can have multiple `static {}` blocks, which is useful (among other occasions) when you have multiple fields you want to initialize: it lets you write

[code]

What's the motivation to disallow this?

[2020-11-09 00:23] ljharb commented on #24
Wouldn't allowing it mean that the partially-constructed class would be observable for more than just the rest of the static block?

[2020-11-09 00:31] bakkot commented on #24
How so? Code after the class wouldn't run until the `await` completed, and code in other functions wouldn't have visibility of the class.

[2020-11-09 00:34] ljharb commented on #24
What I mean is, the class could provide its partially-constructed class to other code, and then finish with the static block code after N ticks had passed and the class had been mutated. I'm not sure why that seems worse to me than the exact same thing happening synchronously, though, so maybe it's fine.

[2020-11-10 20:05] rbuckton commented on #24
This is essentially a duplicate of #7 and you can read my rationale for why this is currently disallowed there. We may need to do something more to disallow `await` as an _IdentifierReference_ inside of a `static {}` block to ensure we future-proof it should we decide to allow it later.

There shouldn't be a concern for `yield`, as `yield` is treated as a reserved word in strict mode so its alread

[2020-11-10 20:10] rbuckton opened #27 "Disallow `await` as an IdentifierReference or BindingIdentifier inside of a static block"
The proposal currently does not allow a `static {}` block to inherit the `[Await]` flag of its surrounding context. We intend to leave open the possibility of supporting this in the future, though not at this time. However, by passing `[~Await]` to the statement list, we allow the use of `await` as an identifier inside of the `static {}` block, which would make adopting the outer `[Await]` context

[2020-11-10 20:13] rbuckton commented on #24
I'm closing this as a duplicate of #7. I've opened #27 to discuss the restrictions needed to both disallow `await` but leave it as an option for a follow-on proposal.

[2020-11-10 20:13] #24 closed, assigned to nobody

[2020-11-10 20:16] rbuckton commented on #25
It should be an early error. There should be no function to capture here, so `new.target` doesn't make sense locally in a `static {}` block (as you can't `[Call]` or `[Construct]` it). However, allowing `static {}` to reference the `new.target` of the outer scope would confusing and inconsistent since `arguments` is also disallowed and `this` is bound to the lexical class declaration.

Its not cle

[2020-11-10 20:23] rbuckton commented on #25
From testing in Node/v8, it seems the current behavior is to return `undefined`:
![image](https://user-images.githubusercontent.com/3902892/98729284-883cb300-234f-11eb-86b4-fb8558cccf5a.png)

[2020-11-10 20:31] rbuckton commented on #25
Unfortunately, the behavior for static field initializers is [underspecified](https://github.com/tc39/proposal-static-class-features/issues/38). Per https://github.com/tc39/proposal-static-class-features/issues/13#issuecomment-359547916, there are some arguments that it should be an early error.

[2020-11-10 20:34] bakkot commented on #24
#7 doesn't really include any rationale, that I can see. It just says it's not permitted.

[2020-11-10 20:39] rbuckton commented on #26
The current proposal text indicates that `static{}` evaluation happens _after_ all initializers, so having multiple `static{}` definitions could be confusing. The goal was to maintain some similarity with `constructor() {}` only being allowed once. If we want to allow multiple `static{}` blocks, I'd likely recommend they are evaluated in document order.

I'm not opposed to the idea, however, espec

[2020-11-10 20:43] bakkot commented on #27
I think the cleanest solution would be to pass `[+Await]` (when in an async context) and then explicitly have an early error for `AwaitExpression` and `for await`.

[2020-11-10 20:47] rbuckton opened #28 "Treat '"static" {}' as a static initializer block"
For consistency with `constructor`, `"static" {}` should also be treated as a static block, however `["static"]` should not.

This consistency is also important to https://github.com/rbuckton/proposal-grouped-and-auto-accessors, should it be adopted for stage 1.

[2020-11-15 21:19] bakkot commented on #7
@rbuckton What's the reason for this restriction? It's surprising to me.

[2021-01-13 23:09] ljharb commented on #22
ping @rbuckton there's still a few editorial issues/questions ^

[2021-01-13 23:12] rbuckton commented on #22
Thanks, I'll take a look today.

[2021-01-13 23:16] bakkot opened #30 "Why do static blocks disallow `return` but not `break`?"
It seems weird to me that

[code]
should be illegal while

[code]
is not.

[2021-01-13 23:26] littledan commented on #20
Some editorial notes from review:
- Syntactically, could we model this with blocks and ContainsArguments?
   - I agree with the syntax, but just to bikeshed, what if you cleaned it up to, simply, `ClassStaticBlock : Block[~Yield, ~Await, ~Return]`? This would remove the need to declare some of the repetitive algorithms.
    - ["arguments" syntax error](https://tc39.es/proposal-class-static-block/#

[2021-01-13 23:45] rbuckton commented on #22
I'll have a PR up shortly for these.

I think you are correct. We invoke `IsStatic` in two places:
- `ClassDefinitionEvaluation`, but only on the set of methods returned from `NonConstructorMethodDefinitions` (which will not include `static` blocks).
- `PrototypePropertyNameList`, which is evaluated unconditionally against all class elements, but should short-circuit before `IsStatic` because `Pro

[2021-01-13 23:49] rbuckton commented on #22
You can find the PR for this feedback in #31.

[2021-01-14 00:39] rbuckton commented on #30
Your second example is not legal, see these:
- https://tc39.es/proposal-class-static-block/#sec-continue-statement-static-semantics-early-errors
- https://tc39.es/proposal-class-static-block/#sec-break-statement-static-semantics-early-errors

To clarify, `return` is not legal anywhere in a `static` block:
[code]

The `break` and `continue` statements are not legal outside of a _SwitchStatement_, _

[2021-01-14 00:47] rbuckton commented on #28
This was rejected at the last TC39 meeting.

[2021-01-14 00:47] #28 closed, assigned to nobody

[2021-01-14 00:50] rbuckton commented on #27
I'm concerned if we do that that if we introduced any new features under `[+Await]` we'd just have to keep excluding them.

[2021-01-14 00:57] syg commented on #22
- The text for Table 1 reads weird since they're all talking about "this function".
- In https://tc39.es/proposal-class-static-block/#sec-runtime-semantics-classdefinitionevaluation, can step 33 be an assert, since there's already an Early Error covering multiple static blocks?
- Where is NewClassStaticBlockEnvironment?
- _F_ instead of the block is passed to ClassStaticBlockEvaluateBody(F).
- I w

[2021-01-14 01:29] rbuckton commented on #22
How would you word this assert? Essentially, the list contains zero or one elements. If I have an Assert, I still need the If (even if worded differently):

[code]

An oversight, I'll add it shortly.

Good catch, thanks.

[2021-01-14 01:44] rbuckton commented on #22
Are you describing a note like the one at the top of this section: https://tc39.es/ecma262/#sec-functiondeclarationinstantiation, or a different note entirely?

[2021-01-14 01:57] rbuckton commented on #22
I think perhaps you are describing something like this note in FunctionDeclarationInstantiation?

As I understand it the rationale behind the extra environment and NOTE in that section has to do with the possibility of parameter initializers performing direct eval that might introduce new bindings. I can add the note, but there are no parameters to a `static {}` block so there's no opportunity for

[2021-01-14 02:01] rbuckton commented on #22
@syg - I believe I have addressed your feedback. Please let me know if there's anything I have missed or misunderstood.

[2021-01-14 02:04] bakkot commented on #30
Ah, I misunderstood. In that case, I believe you need to have early errors for

- It is a Syntax Error if ContainsDuplicateLabels of |ClassStaticBlockBody| with argument « » is true.
- It is a Syntax Error if ContainsUndefinedBreakTarget of |ClassStaticBlockBody| with argument « » is true.
- It is a Syntax Error if ContainsUndefinedContinueTarget of |ClassStaticBlockBody| with arguments « » and «

[2021-01-14 02:08] bakkot commented on #7
@rbuckton ping^

[2021-01-14 02:14] bakkot commented on #27
Isn't that what we'd want? It seems like static blocks should either inherit the outer context's async-ness wholesale or not at all, not piecemeal. (Though I still [don't understand](https://github.com/tc39/proposal-class-static-block/issues/7#issuecomment-727638605) why we'd go with "not at all".)

[2021-01-14 02:24] rbuckton commented on #7
To reduce complexity. IIRC, we've discussed in committee the possibility of opening this up later, and we've added (and are adding) restrictions so that we *can* open this back up in the future. Currently, allowing `await` in a class static block is a possible refactoring hazard (i.e., you have the class at the top level of a module, but then move it inside of a function forcing that function to b

[2021-01-14 02:34] bakkot commented on #7
Hm, OK. I guess I didn't imagine there was any question about what the semantics would be.

Actually, I still can't imagine that. I thought the whole idea of this feature was that it allowed you to take code that was executing outside of the class body and put it inside of the class body with basically identical semantics but now with visibility of private fields. So what semantics other than "exa

[2021-01-14 03:10] rbuckton commented on #7
This is already a [Stage 1 proposal](https://docs.google.com/presentation/d/1DsjZAzBjn2gCrr4l0uZzCymPIWZTKM8KzcnMBF31HAg/edit#slide=id.g7d23d45064_0_196) about async class initialization. That proposal could have ramifications on the design of how something like `await` should work in a `static` block (especially if it requires the introduction of `async` on either the class or the constructor).

[2021-01-14 03:26] rbuckton commented on #27
We're reserving it because there are still questions about what to do here, as we have been discussing in #7. Reserving `await` ensures we don't allow someone to write this:

[code]

And we can later decide how we want to treat `await`. We have to do this for `await` and not `yield` because `yield` is already a reserved word in strict mode code, but `await` is not.

[2021-01-14 03:27] rbuckton commented on #27
Also, we previously *intended* to reserve `await` (and have discussed this in committee), this is intended to catches a few more places we were missing in the specification text.

[2021-01-14 03:28] bakkot commented on #7
That's a choice this proposal makes, not an inherent part of the design. Personally it seems like a surprising choice.

That doesn't really help me, since I think of static initializers in those languages as being blocks which are executed in the context of the class body.

Mm. To me it feels like leaving them out is adding complexity, not removing it. Now consumers have to know this extra fact ab

[2021-01-14 03:40] rbuckton commented on #7
You've not commented on the part I wrote about how nowhere else in the language do we change `this` *and* allow `await`/`yield` from the outer scope to pass into the new scope. I've often said that I would have written this as `static() {}` or `static constructor() {}` if those hadn't *already* been legal ES. Despite the lack of parens, `static {}` is functionally equivalent to an unreachable stat

[2021-01-14 04:02] bakkot commented on #7
Well, yes, but there's just not that many different contexts in the language at all. It doesn't seem like much of an inconsistency to me.

(That said, I'd be happy for `this`, `arguments`, etc to just mean what they do in the outer scope, exactly as happens for computed property names in class bodies.)

Yup. `var` should hoist, that sounds right to me. That's strictly more useful, and is what I wo

[2021-01-14 08:12] sindresorhus commented on #30
It would be nice if a pure `return` without a value was allowed, for code readability reasons.

This:

[code]

is much more readable than:

[code]

[2021-01-14 15:10] ljharb commented on #30
Then you’d be able to `return this` and get a partially constructed class, which seems a bit against the goals of the class syntax.

[2021-01-14 18:44] rbuckton commented on #30
You can still do something like this:
[code]

Whether to allow `return` is something we can add later. I specifically wanted to avoid `return this` or `return somethingElse` as part of this proposal, and already there is confusion about whether `return` in the `static {}` should return from the outer function so its been explicitly forbidden in this proposal for the time being. I imagine *if* we w

[2021-01-14 19:28] syg commented on #22
Fair enough, I retract that suggestion.

Where are the changes? I don't see an updated render nor commits.

[2021-01-14 20:35] rbuckton commented on #22
See #31. I've addressed both your and @ljharb's feedback in that PR.

[2021-01-15 01:30] #27 closed, assigned to rbuckton

[2021-01-15 03:16] rbuckton commented on #30
Closing this as I believe the handling of `break`/`continue` to be clearly stated in both the explainer and in the specification text.

[2021-01-15 03:16] #30 closed, assigned to nobody

[2021-01-15 05:16] rbuckton commented on #20
There's already been some confusion about how `static {}` should be treated. My intent is that `static {}` acts something like an unnamed/unreachable method that is evaluated at the end of ClassDefinitionEvaluation, which is why I've modeled it the same way we have modeled Function, Async Function, etc. in terms of calling the "block" portion a "body". It has (very close to) the same semantics as

[2021-01-15 05:19] rbuckton commented on #21
@ptomato: have you had an opportunity to review the specification text?

[2021-01-15 05:33] rbuckton commented on #25
@littledan - Could you clarify what the intended behavior of `new.target` is in a static field? It doesn't seem like there was any resolution to https://github.com/tc39/proposal-static-class-features/issues/38.

[2021-01-15 05:50] rbuckton commented on #20
Closing this as the review is complete, per https://github.com/tc39/proposal-class-static-block/issues/20#issuecomment-759822608. We can open up separate issues regarding non-blocking editorial changes as needed.

[2021-01-15 05:50] #20 closed, assigned to littledan

[2021-01-15 05:51] rbuckton commented on #22
Closing this per #31. Feel free to comment/reopen if you feel there is additional feedback you feel needs to be addressed prior to possible Stage 3 advancement. Thank you both @ljharb and @syg for your reviews.

[2021-01-15 05:51] #22 closed, assigned to ljharb, syg, michaelficarra, bakkot

[2021-01-15 05:54] rbuckton commented on #25
In the meantime, I have added a slide regarding this issue for possible discussion in plenary.

[2021-01-15 17:33] ptomato commented on #21
I intend to do it today and Monday :smile:

[2021-01-15 20:31] bakkot commented on #22
Couple last things:

- The Early Error forbidding `await` identifiers says "not crossing function or static initialization block boundaries, _excluding arrow function boundaries_" [emphasis added]. By my reading, that would mean `class { static { let x = async () => { await foo(); } }` would be illegal, which sounds wrong. I think you want to include arrow function boundaries for this particular e

[2021-01-15 20:59] rbuckton commented on #22
Agreed, this is tricky to word correctly. The other option might be to parse with `[+Await]` and forbid *AwaitExpression* and `for-await-of` the way that *ContinueStatement* and *BreakStatement* are written, but if we add any other `[+Await]`-specific features in the future we'd be chasing those down.

I plan to look at these today, thanks!

[2021-01-15 21:29] ptomato commented on #22
I agree with this, but when I was reading the spec text I got confused by ClassStaticBlock not being mentioned in IsStatic until I found this discussion. Maybe add a note similar to the one in "Static Semantics: Contains" saying something like "Static semantic rules using this operation do not consider `static` initialization blocks" or something like that?

[2021-01-15 21:51] rbuckton commented on #22
I'll defer to @ljharb on whether to reintroduce it with that wording since it was his recommendation to remove it.

[2021-01-15 21:53] rbuckton commented on #22
The reason I had it there in the first place is that we go out of our way to indicate `` ClassElement: `;` `` returns `false` for **IsStatic**, despite it also never being invoked for that production.

[2021-01-15 22:59] ljharb commented on #22
I was fine with removing it if unused, but mainly i was confused to see IsStatic not be “true” for something named “static”.

[2021-01-15 23:03] ptomato commented on #21
I've completed my review today, I had the advantage of going last after others had gone over the spec text before me :smile:

Here are my comments, all of them quite minor:
- It's not clear to me where [this paragraph](https://github.com/tc39/proposal-class-static-block/blob/master/spec/sec-executable-code-and-execution-contexts-patch.html#L1) is intended to be inserted into the spec.
- Is this mi

[2021-01-15 23:07] bakkot commented on #21
Probably, but it's not this project's fault; the biblio is [quite stale](https://github.com/tc39/ecmarkup/issues/251). It will link properly in the actual spec when this is upstreamed.

Yeah, sorry, that changed literally [yesterday](https://github.com/tc39/ecma262/pull/2271). I wouldn't worry about fixing up this proposal; I'll make sure it's right as part of the upstream PR.

[2021-01-16 00:27] rbuckton commented on #21
I'll have to look into that. I believe the spec text in that section has changed since I first wrote the spec text for the proposal. I believe its intended to go between "function" and "module" environment records here:

Not precisely. The class static block environment record is modeled after a function environment record, which only includes a note on what "lexical" means:

The wording is based

[2021-01-16 00:35] bakkot commented on #21
That was true up until [last night](https://github.com/tc39/ecma262/pull/2271), but it [does now](https://tc39.es/ecma262/#sec-static-semantics-hasdirectsuper)! (To be clear, I'm mentioning this because I'm excited about the change in ecma262, not because I think this proposal needs to do anything about it.)

AFAICT ecmarkup never actually had support for that. ecma262 contained such elements, but

[2021-01-16 00:43] rbuckton commented on #21
How does this affect the readability of the spec? Previously the operations were adjacent to their syntax definitions in the spec. It seems like it would make it harder to follow. Previously I would have looked for how identifiers are handled under https://tc39.es/ecma262/#sec-identifiers, but now they're moved to another part of the spec entirely (with no, "this can be found here"-like mention, k

[2021-01-16 00:47] rbuckton commented on #21
For ecmarkup, I would been happy with multiple algorithms having the same AOID show up as a list of references when you click the link (like we do for the "References" link when hovering over a definition). Even if the spec has been reorganized to avoid this, I think it still might be valuable. Regardless, both this and my last comment are off topic for this discussion.

[2021-01-16 00:59] bakkot commented on #21
I think it's a massive improvement. Having the definition for each SDO in a single place makes it much easier to see what they do, and matches the conceptual model: generally the question one has is "what does this SDO do?", not "what are all of the various ways that SDOs are defined over this syntactic form?". We've described this planned change at each of the last four meetings, as well as in [a

[2021-01-16 01:01] rbuckton commented on #21
I'll look at the grammarkdown PR. I don't recall seeing it in my notifications, but its been a busy two months.

[2021-01-16 01:05] rbuckton commented on #21
@ptomato I addressed your first comment (about the dangling paragaph) in #34. Please let me know if my explanations for the other comments are sufficient, or if you feel there is more that should be updated.

[2021-01-16 01:55] ptomato commented on #21
Thanks! The #34 PR looks like it ought to clear things up for me. I think the only unresolved point is this:

What I meant was that the `let await;` inside the static block of `D` is illegal whether you explicitly specify "without crossing static initialization block boundaries" or not. As far as I could see, that language doesn't make anything else illegal that wasn't already illegal without it,

[2021-01-16 05:10] rbuckton commented on #21
Since (hopefully) the intent is clear, its more of an editorial discussion that (also hopefully) shouldn't be a stage 3 blocker.

[2021-01-16 05:10] rbuckton commented on #21
@ptomato - Thanks for your review!

[2021-01-16 05:10] #21 closed, assigned to ptomato

[2021-01-18 11:54] littledan commented on #25
As I clarified in https://github.com/tc39/proposal-static-class-features/issues/38#issuecomment-762201154 , I believe we should follow the semantics for methods, where `new.target` is `undefined`. I don't think there is anything underspecified for class fields or static class features.

[2021-01-18 11:56] littledan commented on #26
This is something I was wondering as well. I was initially picturing static blocks as interspersed with static field evaluation and with no restrictions on repetitions. I think, if we make static blocks come after initializers, then we should restrict them to one. I could go either way on this question.

[2021-01-18 11:57] littledan opened #35 "Editorial: Unify ContainsArguments with class fields"
Splitting out from https://github.com/tc39/proposal-class-static-block/issues/20#issuecomment-759822608

[2021-01-18 11:59] littledan opened #36 "Editorial: Reuse block syntax"
Splitting out from #20

I'm not quite convinced by @rbuckton 's [explanation for the duplication](https://github.com/tc39/proposal-class-static-block/issues/20#issuecomment-760651487) but I want to leave this decision for the editors when merging in Stage 4.

[2021-01-18 12:01] littledan opened #37 "Editorial: Reuse static method semantics"
Splitting out from #20

Ron [explained the duplication](https://github.com/tc39/proposal-class-static-block/issues/20#issuecomment-760651487) but I don't quite understand the mismatch. If there are semantic differences, I'd actually want to revisit and potentially remove them. (We can add extra plumbing for the prohibition of `arguments`, but I thought we had `this` be the class under construction

[2021-01-19 14:42] littledan commented on #25
See the explanation in https://github.com/tc39/proposal-static-class-features/issues/38#issuecomment-762883823 for why the PR to merge class fields into ECMA-262 leaves `new.target` as `undefined`.

[2021-01-26 00:19] ljharb commented on #23
Please ping us for rereview once the discussed updates are incorporated.

[2021-02-26 22:17] rbuckton commented on #37
I believe this was fixed by #38.

[2021-02-26 22:17] #37 closed, assigned to nobody

[2021-02-26 22:19] rbuckton commented on #36
I believe we discussed this in https://github.com/tc39/proposal-class-static-block/pull/38#issuecomment-768089962 and that rationale seems to have been [accepted](https://github.com/tc39/proposal-class-static-block/pull/38#pullrequestreview-594833158).

[2021-02-26 22:19] #36 closed, assigned to nobody

[2021-02-26 22:19] rbuckton commented on #35
Fixed by #38.

[2021-02-26 22:19] #35 closed, assigned to nobody

[2021-02-26 22:19] rbuckton commented on #26
Fixed by #38.

[2021-02-26 22:19] #26 closed, assigned to rbuckton

[2021-02-26 22:19] rbuckton commented on #25
Fixed by #38.

[2021-02-26 22:19] #25 closed, assigned to rbuckton

[2021-02-26 22:20] rbuckton commented on #23
Closed as of #38.

[2021-02-26 22:20] #23 closed, assigned to rbuckton

[2021-03-06 00:57] jugglinmike opened #39 "Write tests for Test262"
This proposal will need tests in Test262 in order to advance to stage 4 of [TC39's proposal process](https://tc39.github.io/process-document/).

I'd be happy to take a shot at this--let me know!

[2021-03-06 01:09] jugglinmike opened #40 "Potential redundancy in Early Errors for arguments"
This proposal currently introduces a new Early Error on Identifiers:

It also introduces an Early Error for the new ClassStaticBlockBody production:

By my reading, the first seems to obviate the second. Is that so?

[2021-03-06 01:10] jugglinmike opened #41 "Potential redundancy in Early Errors for SuperCall"
This proposal currently defines a single Early Error for its ClassStaticBlock production:

Here's how it defines HasDirectSuper for ClassStaticBlock:

The proposal also defines an Early Error for the new ClassStaticBlockBody production:

By my reading, both Early Errors describe the same condition. Is that correct?

[2021-03-08 06:23] Kingwl commented on #27
Hi folks. I'm very confused about the concept.

It is a Syntax Error if the code matched by this production is nested, directly or indirectly (but not crossing function or static initialization block boundaries), within a ClassStaticBlock and the StringValue of Identifier is "arguments" or "await".

I have searched on specification. But there's not section about what exactly is the `function bound

[2021-03-18 23:19] rbuckton commented on #27
That's a good question. `await` isn't a reserved word like `yield`. For `yield`, all of the above would be errors outside of a generator function, and only the computed property name would be valid *inside* of a generator function (in that it would evaluate a _YieldExpression_). Since `await` isn't reserved, it can be used as an identifier in more places.

A "function boundary" is essentially anyw

[2021-03-19 02:32] Kingwl commented on #27
Thanks for the explanations. Could we wrote these up into the spec？

[2021-03-23 01:33] jugglinmike commented on #39
I'm still interested in helping out, but I don't want to step on anyone's toes. @rbuckton could you use a hand? Do you have a time frame in mind?

[2021-03-23 03:09] rbuckton commented on #39
You are welcome to, if you'd like. I'm currently heads down on prepping for the TypeScript 4.3 beta and likely won't have a chance to look at this for another week.

[2021-04-01 00:21] JLHwung opened #43 "Different parsing errors between Babel and V8: await as identifier"
Related versions: Babel 7.13.9 V8 9.1.216

### await as BindingIdentifier of FunctionDeclaration

[code]

Babel throws, V8 passes.

According to https://github.com/tc39/proposal-class-static-block/issues/27#issuecomment-802378353, a function boundary includes parameters and body. So the binding identifier `await` should throw here.

### await as IdentifierReference in ConciseBody of ArrowFunctionE

[2021-04-01 04:50] ljharb commented on #43
This perhaps should be a v8 bug?

[2021-04-01 13:42] JLHwung commented on #43
I posted here because

I am not sure if `C = class { static { () => await } };` should throw, specifically whether function boundary applies to arrow function, too. If `C = class { static { () => await } };` should pass, then so as for `C = class { static { () => arguments } };`.

But since `C = class { static p = () => arguments }` already throws, allowing `C = class { static { () => arguments }

[2021-04-01 13:52] ljharb commented on #43
an arrow function does not bind `arguments`, and so should not affect it. It does, however, matter if it’s an async arrow or not, for `await` - so I’d not expect the two to be consistent, necessarily.

[2021-04-01 14:09] JLHwung commented on #43
Ah there is an SE on 5.1:

I think current behaviour is good. `C = class { static { () => await } };` should be allowed.

On https://github.com/tc39/proposal-class-static-block/issues/27#issuecomment-802378353, can you add an editor note that function boundary does not include the binding identifier of function declaration? That will clearly mark `C = class { static { function await() {} } };` as

[2021-04-01 15:20] JLHwung commented on #27
- Does parameter binding belong to "function boundary"?
[code]

- Does computed property used in parameter initializers belong to "function boundary"? It is evaluated in the outer scope though.
[code]

[2021-04-01 20:02] syg commented on #43
Thanks for the report!

[code]

I think this is a V8 bug, I'll double check.

[code]
This is a Babel bug.

[code]
This is a spec bug in the spec draft of the class static blocks proposal. It should align with what the class fields is doing, which is using this ContainsArguments abstract operations that can look through arrow functions. Instead, the class static blocks proposal is using the "doesn'

[2021-04-01 20:24] JLHwung commented on #43
@syg Yeah I agree that `C = class { static p = () => arguments }` should throw, the spec defines that on 5.1

I agree that `C = class { static { () => await } };` should not throw. It is a Babel bug.

I have reported another two cases in https://github.com/tc39/proposal-class-static-block/issues/27#issuecomment-811981329 where both Babel and V8 throw but it seems to be allowed by the spec.

[2021-04-01 21:48] syg commented on #43
[code]

Actually I take this back. From a the perspective of the [Contains Static Semantics](https://tc39.es/ecma262/#sec-static-semantics-contains), the function binding identifier does cross the function boundary, so this actually should be allowed. @rbuckton what was your intention here?

[2021-04-01 21:51] ljharb commented on #43
Given that `(async function f() { return function await() {}; }())` works fine, i'd expect `(class { static { function await() {} } })` to work as well even if static blocks became async.

[2021-04-01 21:52] syg commented on #27
From the perspective of [Contains](https://tc39.es/ecma262/#sec-static-semantics-contains), arrow function parameters do not cross a function boundary, but non-arrow function parameters do. So the answer for your example is "no".

Same thing: no for arrows, yes for non-arrows.

[2021-04-01 22:45] bakkot commented on #43
`(async function f() { return function await() {}; }())` is different from `(async function f() { function await() {}; }())` in that in the former case there is no `await` declared in the scope of the async function, so it's fine, whereas in the latter there would be, so it's a syntax error.

Since `C = class { static { function await() {} } };` does declare `await` in the scope of the static bloc

[2021-04-01 22:51] JLHwung commented on #43
`C = class { static p = function await() {} }` is allowed, so it will be inconsistent if we disallow `C = class { static { function await() {} } }`.

The current V8 implementation seems to follow Contains Static Semantics, although the `await` error was specified differently.

[2021-04-01 22:53] ljharb commented on #43
@bakkot aha, good point, `(async function f() { function await() {}; }())` is a syntax error, thanks.

@JLHwung the inconsistency already exists then, since `(async function f() { function await() {}; }())` throws but `(async function f() { (function await() {}); }())` does not.

[2021-04-01 22:54] bakkot commented on #43
(sorry, misclick)

[2021-04-01 22:59] JLHwung commented on #43
@ljharb  Oh I was meant to say `C = class { static { this.p = function await() {} } }` which is, if I wear developers hat, equivalent to `C = class { static p = function await() {} }`.

From a parser viewpoint, throwing for `C = class { static { this.p = function await() {} } }` is same as throwing for the one without `this.p` so I lazily drop `this.p = `.

[2021-04-01 23:05] bakkot commented on #43
That's not true. `(async function(){ this.p = function await() {} })` is legal; `(async function(){ function await() {} })` is an error. The BindingIdentifier works very differently for functions-as-declarations versus functions-as-expressions, and is subject to different rules.

[2021-04-01 23:10] rbuckton commented on #43
If `await` were a reserved word like `yield`, this would be so much easier. Also, the spec today does not clearly define what "function boundary" means.

The goal is to reserve `await` in all of its meanings inside of a `static {}` block, allowing us to defer until later whether `static {}` blocks can participate in top-level-await or in the body of an async function, or whether special syntax lik

[2021-04-01 23:19] rbuckton commented on #27
Its also tricky for paren-less arrow functions. For example, the following is illegal today:

[code]

In an async function, you parse the cover grammar for the arrow function parameters in the `+Await` context, so they can't be legal.

Another way I could handle this is parse the body of `static {}` in `+Await` and then error if the block Contains *AwaitExpression*.

[2021-04-01 23:20] rbuckton commented on #43
I mentioned in #27 that another way we could specify this is to parse the body of `static {}` in `+Await` and then error if the block Contains *AwaitExpression* (or `for-await-of`).

[2021-04-01 23:45] bakkot commented on #27
I [still](https://github.com/tc39/proposal-class-static-block/issues/27#issuecomment-724955380) think that's the cleanest solution.

[2021-04-01 23:52] JLHwung commented on #43
@rbuckton Thanks for a detailed example. In the cases listed above, both Babel and V8 throws
[code]
The other cases match current implementations if `static { }` is replaced by `async function() { }`.

Unlike FunctionExpression, the [ClassExpression](https://tc39.es/ecma262/#prod-ClassExpression) inherits the `[Await]` parameter, so I think `(class await() {});` should be illegal under static bloc

[2021-04-02 02:55] rbuckton commented on #43
Interesting. Its likely because of the oddities of how the class name's binding works:

[code]
Even though computed property names *essentially* evaluate in the outer scope, we introduce an environment record in between that scope and class element evaluation in which `C` is declared but not initialized. So if `(class await {})` *were* allowed in an async function, there'd be this odd interaction

[2021-04-02 03:23] Kingwl commented on #43
Oh my goodness. 🤦

[2021-04-02 03:57] hax commented on #43
We really should simplify the things --- just make the `await` as reserved word in classes and modules. Allowing `await` as normal identifier in some places doesn't help developers at all and finally people need pay another efforts to add linter rules to forbid those holes 😅

[2021-04-02 04:06] bakkot commented on #43
It is reserved in modules, actually! Alas, not all code is in modules. (I'm not sure why it wasn't reserved in classes; probably to make it easier to refactor from functions?)

Well, it helps anyone who shipped code that used `await` as an identifier during the two decades when it didn't mean anything in the language. Or, more to the point, any random user of a website running such code.

[2021-04-02 18:06] rbuckton commented on #43
Only at the top level, IIRC. You can still do `function f() { let await = 0; }` in a module, because the function body is not parsed in `+Await`.

[2021-04-02 18:12] bakkot commented on #43
No, it's reserved everywhere: [there is](https://tc39.es/ecma262/multipage/#sec-identifiers-static-semantics-early-errors) an Early Error rule for identifiers named "await" when the goal symbol of the syntactic grammar is |Module|.

(This doesn't run into the tricky edge cases you've been facing here because the reservation is comprehensive, meaning you don't have to worry about function boundarie

[2021-04-02 18:14] rbuckton commented on #43
I was just looking at that section and completely missed that rule. 😓

[2021-04-02 18:19] bakkot commented on #43
Yeah, there's a _lot_ of special cases in the grammar. Not sure I would've been able to find it if I hadn't already known where to look.

[2021-04-03 03:53] jugglinmike commented on #39
Here's a patch! https://github.com/tc39/test262/pull/2968

[2021-04-03 05:02] Kingwl commented on #39
May pay some attention on https://github.com/tc39/proposal-class-static-block/issues/43 too.😂

[2021-04-09 22:55] jugglinmike commented on #43
One of [the examples above](https://github.com/tc39/proposal-class-static-block/issues/43#issuecomment-812224819) surprised me a bit:

[code]

I don't object to that specific design decision, but the phrasing of the relevant early error doesn't really convey it:

The term "function boundary" is not formally defined, so some readers may not recognize that the boundary of the "implicit function" qua

[2021-04-29 21:05] jugglinmike commented on #43
Although @rbuckton's [earlier comment](https://github.com/tc39/proposal-class-static-block/issues/43#issuecomment-812224819) makes the intention clear, there are some more ambiguities in the term "function boundary" which may confuse readers of the current proposed text.

Are function "names" inside the function boundary? The intent is for this to depend on how the bindings interact with the relev

[2021-05-15 01:17] syg commented on #27
Big, explicit +1 for this approach after reasoning through the implementation for when to allow `await` as identifier.

[2021-05-15 05:11] rbuckton commented on #27
I agree. I'll spend some time on updates to the spec text next week.

[2021-06-05 21:31] rbuckton commented on #43
I'm looking into the switch to using `+Await` and forbidding `await` operations rather than the current function boundary-based checks. It's easy enough to add an early error for _AwaitExpression_, i.e.:
[code]

But its a bit harder to check for `for await`, since it doesn't have its own production. @ljharb, @bakkot any suggestions?

[2021-06-05 21:43] rbuckton commented on #43
Would I add it as a special case to https://tc39.es/ecma262/#sec-static-semantics-contains? Something like this:

We do something similar in `` AsyncArrowFunction : `async` AsyncArrowBindingIdentifier `=>` AsyncConciseBody `` for _NewTarget_, _SuperProperty_, _SuperCall_, `super`, and `this`, but returning **false** (instead of **true** like we would here).

[2021-06-05 22:01] bakkot commented on #43
The cleanest solution would be to split `ForInOfStatement` into `ForInStatement`, `ForOfStatement`, and `ForAwaitOfStatement`, so that you can check for `ForAwaitOfStatement` just as you currently can check for `AwaitExpression`.

This involves touching a few dozen places in the spec, but they're all straightforward. If you'd like I can do this as a PR to ecma262 and you can add an editor's note t

[2021-06-05 22:36] rbuckton commented on #41
Yes, this looks to be redundant.

[2021-06-05 22:37] rbuckton commented on #40
Yes, this appears to be redundant.

[2021-06-06 01:23] rbuckton commented on #43
I ended up going with a slightly different approach and added a `ContainsAwait` that is similar to `ContainsArguments`. I will have a PR up shortly.

[2021-06-23 01:58] #40 closed, assigned to nobody

[2021-06-23 01:58] #41 closed, assigned to nobody

[2021-06-23 01:58] #43 closed, assigned to nobody

[2021-06-24 21:27] rbuckton opened #48 "Meta: Stage 4 Entrance Criteria"
- [x] Test262 [acceptance tests](https://github.com/tc39/test262/pull/2968) have been written for mainline usage scenarios and merged:
- [x] Two compatible implementations which pass the acceptance tests:
  - [x] SpiderMonkey ([tracking bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1712138)) &mdash; Shipping [behind a flag in 92](https://github.com/tc39/proposal-class-static-block/issues/48#is

[2021-06-24 21:32] rbuckton commented on #48
@mgaudet you mentioned that an early version of `static {}` landed in https://bugzilla.mozilla.org/show_bug.cgi?id=1712138. Is this something I can try in Firefox Nightly? If so, what are the prerequisites to enable support?

[2021-06-24 21:35] mgaudet commented on #48
Setting the pref `javascript.options.experimental.class_static_blocks=true` should let you play with it; and `--enable-class-static-blocks` should work on up-to-date shells.

[2021-06-24 21:41] rbuckton commented on #48
Thanks! I'll list it as a implementation above, with the caveat that it is flagged and pending acceptance tests.

[2021-06-24 21:43] mgaudet commented on #48
Awesome. I'll circle back to the updated tests and await behaviour probably sometime early-to-mid July

[2021-07-15 00:39] mgaudet commented on #48
Updated `await` handling has landed under [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1713155), and so should be in tomorrow's nightlies.

[2021-08-12 21:53] rbuckton commented on #48
@syg, is there a bug tracking class static blocks for v8? I'll I've found so far are these two referenced in the test262 tests:
- https://bugs.chromium.org/p/v8/issues/detail?id=11718
- https://bugs.chromium.org/p/v8/issues/detail?id=11719

[2021-08-12 21:55] rbuckton commented on #48
Ah nevermind, I found it: https://bugs.chromium.org/p/v8/issues/detail?id=11375

[2021-08-12 22:08] rbuckton commented on #48
@mgaudet, @syg: Where do SpiderMonkey and V8 stand on this feature's readiness for Stage 4? I am currently waiting on editor signoff on the ECMA-262 PR and any further implementer feedback before adding this to the agenda for the August/September meeting.

[2021-08-12 22:40] syg commented on #48
V8 has shipped class static blocks, so it's ready for stage 4 if another browser has also shipped it.

[2021-08-12 23:37] rbuckton commented on #48
Thanks, I've updated the list above.

[2021-08-17 17:58] mgaudet commented on #48
Should [ship in Firefox 93 unflagged](https://bugzilla.mozilla.org/show_bug.cgi?id=1725689)

[2021-08-25 00:58] #39 closed, assigned to nobody

[2021-08-31 19:55] rbuckton commented on #48
Stage 4 achieved!

[2021-08-31 19:55] #48 closed, assigned to nobody

[2021-09-07 09:54] parzhitsky commented on #7
Well, we could have had `static {}` block and `async static {}` block, just like we have `function () {}`, which don't inherit parent context's async-ness, but can become async themselves by adding `async function () {}`:

[code]